.body {
  font-family: 'Cuprum', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Orbitron', sans-serif;
}
.container h4 {
  padding-top: 100px;
}
.logout-head {
  text-align: center;
  padding-top: 10px;
}

.logout-btn {
  border-style: none;
  border-radius: 2px;
  position: relative;
  width: 10%;
  left: 45%;
  margin-top: 50px;
  background-color: #d49466;
  color: black;
}
.logout-btn:hover {
  background-color: rgb(211, 175, 89);
}

#nav-write {
  display: none;
}
#nav-mywrite {
  display: none;
}
@media screen and (max-width: 768px) {
  .logout-btn {
    width: 16%;
    text-align: center;
    left: 40%;
  }
}
