.body {
  font-family: 'Cuprum', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Orbitron', sans-serif;
}
.my-main {
  display: flex;
  padding: 10px;
  font-family: 'Cuprum', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Orbitron', sans-serif;
}
.my-thumbnail {
  max-width: 600px;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.my-content {
  text-align: center;
  position: relative;
  width: 100%;
  top: 45%;
}
.detail-pic {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
}
.my-main-title {
  text-decoration: none;
  color: rgb(226, 151, 38);
}
.my-main-title:hover {
  color: rgb(211, 175, 89);
}
@media screen and (max-width: 900px) {
  .my-main {
    flex-direction: column;
  }

  .my-thumbnail {
    width: 100%;
    max-width: 1000px;
    height: 700px;
  }

  .flex-grow-1 {
    text-align: center;
  }
  #topToggle {
    position: sticky;
    bottom: 5%;
    left: 90%;
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
  }
  #topToggle img {
    width: 40x;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .my-main {
    flex-direction: column;
  }

  .my-thumbnail {
    width: 100%;
    max-width: 1000px;
    height: 700px;
  }

  .flex-grow-1 {
    text-align: center;
  }
  #topToggle {
    position: sticky;
    bottom: 5%;
    left: 90%;
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
  }
  #topToggle img {
    width: 40x;
    height: 40px;
  }
}
