.body {
  font-family: 'Cuprum', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Orbitron', sans-serif;
}
.register-container {
  text-align: center;
  margin-top: 200px;
}

.register-pw,
.register-pw-check {
  margin: 4px;
}
.register-name,
.register-email,
.register-pw,
.register-pw-check {
  text-align: center;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
}
.register-btn {
  border-style: none;
  margin: 2px;
  background-color: #d49466;
  color: black;
  border-radius: 5px;
  padding: 4px;
}
.register-btn:hover {
  background-color: rgb(211, 175, 89);
}

.pw-success {
  display: none;
}
.pw-failed {
  display: none;
}
.modal-body {
  color: black;
}

#nav-write {
  display: none;
}
#nav-mywrite {
  display: none;
}
