.body {
  font-family: 'Cuprum', sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Orbitron', sans-serif;
}
.upload-img-preview {
  text-align: center;
}
.upload-previe-box {
  width: 80%;
  height: 1000px;
}
#upload-preview {
  width: 60%;
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 1px black;
}
.upload-modal {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.show-modal {
  visibility: visible;
  opacity: 1;
}
.upload-modal-main {
  background-image: url('https://github.com/mdab4793/wewrite/blob/main/%E1%84%87%E1%85%AE%E1%86%B0%E1%84%8B%E1%85%B3%E1%86%AB%E1%84%87%E1%85%A9%E1%84%85%E1%85%B3%E1%86%B7%E1%84%83%E1%85%A1%E1%86%AF.jpeg?raw=true');
  width: 40%;
  height: 25%;
  position: relative;
  top: 10%;
  left: 30%;
  border-radius: 15px;
  border-style: none;
  color: white;
}
.upload-modal-title {
  padding: 40px;
}
.upload-modal-title p {
  font-size: 14px;
}

.upload-editor-menu button {
  border-style: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.upload-modal-main button {
  background-color: #d49466;
  border-style: none;
  border-radius: 4px;
  margin: 3px;
  padding: 8px;
  justify-content: space-between;
  width: 20%;
}
.upload-modal-main button:hover {
  background-color: rgb(211, 175, 89);
}
.upload {
  margin-top: 10px;
  padding: 5px;
  border-style: none;
  background-color: #d49466;
}
.upload:hover {
  background-color: rgb(211, 175, 89);
}

.title {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.origin {
  display: flex;
}
.source {
  position: relative;
  top: 10px;
  left: 5%;
}
@media screen and (max-width: 900px) {
  .upload-modal-title {
    font-size: 20px;
  }

  .upload-modal-main {
    width: 50%;
    height: 25%;
  }
  #upload-preview {
    width: 90%;
    height: 80%;
  }
}

@media screen and (max-width: 768px) {
  .chat-input {
    position: relative;
    bottom: 27px;
  }
  .upload-modal-main button {
    width: 30%;
  }
  #upload-preview {
    width: 90%;
    height: 80%;
  }
}
